<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tim.shopm">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:name=".ShopMApplation"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InCommodityActivity" />
        <activity android:name=".activity.NewCommodityActivity" />
        <activity android:name=".activity.SellCommodityActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.OtherOutActivity" />
        <activity android:name=".activity.InOrderInfoActivity" />
        <activity android:name=".activity.OutOrderInfoActivity" />
        <activity android:name=".activity.InventoryCommodityActivity" />

        <provider android:name="android.support.v4.content.FileProvider"

            android:authorities="com.tim.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>